/* Write your CSS code here */
body {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


img{
    width: 40px;
    border-radius: 50%;
    border: 4px solid white;
}

h1 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.2em;
    margin: 0;
}

p {
    font-family: "Varela Round", sans-serif;
    font-weight: 100;
    font-size: 0.5em;
    margin: 0;
    width: 80%;
}

input {
    fill: none;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    /* -webkit-appearance: none; */
    border-radius: 0;
    color: white;
}

input::placeholder{
    color: white;
    font-size: .8em;
}

svg {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 4px;
    color: rgba(0, 0, 0, 0.552);
}

.test-border{
    border: 1px dotted blue;
}

#main{
    background: linear-gradient(to right, rgb(116, 140, 229), 
     rgb(31, 66, 189) 60%);
    /* border: 12px solid #DCE4F8; */
    box-shadow: 0 0 0 12px #DCE4F8;
    border-radius: 8px;
    text-align: center;
    width: 75%;
    padding: 40px 0 0 0;
    vertical-align: middle;
    max-width: 600px;
}

#content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

#input-field {
    margin: 8px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgb(220, 228, 248, 0.5);
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 32px;
    padding-left: 12px;

}

#avatar-container{
    position: relative;
    bottom: -38px;
    display: flex;
    justify-content: center;
    flex-grow: 1fr;
    gap: 20px;
}